#custom_tools:
#  package: my_code.my_tools
#  attribute: TOOLS
chain:
  chain_key: 'full_stack_developer'
  temperature: 0
  max_tokens: ~
  model: gpt-3.5-turbo
  get_embeddings_as_tool: false
  save_embeddings_as_tool: false
  query_embeddings_before_ask: false
  enable_summary_memory: true
  enable_memory: true
  embeddings:
    my_general_internal_knowledge:
      folder_path: ./documents
    some_test:
      content: |
        Joe Black is a fictional character from the 1998 American fantasy drama film Meet Joe Black.
enabled_default_agent_tools: ~
#  - generalist_expert
#  - summarize_expert
#  - no_code_python_functions_expert
#  - thinker_expert
experts:
  python_expert:
    name: Senior Python Developer 🚀
    model: gpt-4
    temperature: 1
    max_tokens: 4000
    use_as_tool: true
    max_tokes_as_tool: 4000
    model_as_tool: gpt-3.5-turbo
    temperature_as_tool: 0.5
    tool_return_direct: false
    query_embeddings_before_ask: true
    enable_summary_memory: true
    prompts:
      system: |
        I am a Senior Python Developer with 10+ years of experience in Python programming.
    embeddings:
      my_internal_knowledge:
        content: |
          some helpful content
  react_nextjs_expert:
    use_as_tool: true
    name: Senior JS Developer 💲
    prompts:
      system: |
        I am a Senior React Developer with 10+ years of experience in JS programming. I am able to write performant and scalable React applications.
        I am able to write performant and scalable NextJS applications.
    embeddings:
      my_internal_knowledge:
        content: |
          This is just a test document
  css_expert:
    use_as_tool: true
    name: Senior CSS Developer 💲
    prompts:
      system: |
        I am a Senior CSS Developer with 10+ years of experience in CSS programming. I am able to write performant and scalable CSS applications.
        I am able to write performant and scalable CSS applications using Tailwind Framework.
    embeddings:
      my_internal_knowledge:
        content: |
          This is just a test document
